

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #dbf5e3 0%, #05ee4b 100%);
  color: white;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

.body-card {
	background:linear-gradient(
		to left top,
		rgba(240, 230, 230, 0.8),
		rgba(222, 222, 222, 0.6)
  );
  display:block;
  justify-content: center;
	align-items: center;

	border-radius: 1rem;
	margin: auto;
	padding: 2rem;
  min-height: 100vh;
  width: 80%;
	text-decoration: none;
	color: black;
}

.spinner {
  display:block;
  background: none;
  min-width: 30%;
  margin-top: 5px;
  min-height: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.inner-card { 
  min-width: 30%;
	display: flex;
	background:linear-gradient(
		to left top,
		rgba(240, 230, 230, 0.8),
		rgba(222, 222, 222, 0.6)
  );
  margin-top: 5px;
  border-radius: 1rem;
  min-height: 20px;
	box-shadow: 6px 6px 20px rgba(122,122,122,0.212);
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fade-in {
  animation: fadeIn ease 1s;
-webkit-animation: fadeIn ease 1s;
-moz-animation: fadeIn ease 1s;
-o-animation: fadeIn ease 1s;
-ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
.center {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr.line {
	border-top: 3px solid #bbb;
}

.output-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-list {
  min-width: 30%;
  list-style: none;
}

.output {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-output {
  padding: 1rem;
}
.output li {
  flex: 1;
}

.output-item {
  padding: 0rem 0.5rem;
}


.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}


.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
